

<div *ngIf='invalidLogin' class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<form>
  <!-- Username input -->
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username"
           [(ngModel)]="username" name="username">
  </div>
  {{username}}

  <!-- Password input -->
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
           [(ngModel)]="password" name="password">
  </div>

  <!-- Button Submit -->
  <button (click)=handleLogin() class="btn btn-primary">Submit</button>
</form>
